body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text-box{
  background-color: #000;
  border-radius: 25px;
  font-size: 2rem;
  width: fit-content;
  color: #fff;
}

.post-user {
  text-align: left;
  font-weight: bold;
  margin-top: 1%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

#secrets-box {
  max-width: 50%;
}

#login {
  margin-top: 10px;
}

#logout-btn {
  margin-top: 10px;
}

#register {
  margin-top: 10px;
}

#submit-btn {
  margin-top: 10px;
}

#googlebody {
  text-align: center;
}

#googleblock{
  font-family: "sans-serif";
}

#googleicon{
  font-size: 30px;
  background: #dd4b39;
  color: white;
  padding: 10px;
  border-radius: 20%;
  margin-bottom: 10px;
}

#googletext{
  font-size: 20px;
}